@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;700&display=swap');

$primary-color: #F2726A;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(90deg, rgba(58,179,56,1) 0%, rgba(31,159,19,1) 100%);
    font-size: 62.5%;
}
.card {
    width: 320px;
    height: 400px;
    background-color: #242628;
    border-radius: 15px;
    margin: 100px auto;
    color: white;
    font-family: "Poppins";
    text-align: center;
    overflow: hidden;

    &__image {   
        width: 40%;
        border: 4px solid $primary-color;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        transform: translateY(20px);
        cursor: pointer;
        transition: 0.3s;
        
        &:hover {
            border-radius: unset;
            border: unset;
            transform: unset;
            object-fit: fill;
            width: 100%;
            height: 100%;
        }
        
        & img {
            width: 100%;
            height: 100%;
        }
    }
    &__name {
        margin-top: 30px;
        font-size: 1.5rem;
        font-weight: 700;
    }
    &__detail {
        font-size: 1rem;
        color: $primary-color;
    }
    &__name , &__detail {
        cursor: default ;
    }
    &__link {
        margin: 30px 0;
        & a {
            text-decoration: none;
            color: white;
            
            & i {
                font-size: 1.5rem;
                margin: 0 15px;
                
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
    &__contact button {
        width: 122px;
        height: 42px;
        color: white;
        background: transparent;
        border: 1px solid $primary-color;
        border-radius: 10px;
        font-size: 1rem;

        &:hover {
            background: $primary-color;
        }
    }
}